[submodule "lazyvim-config"]
	path = lazyvim-config
	url = https://github.com/rhysez/lazyvim-config.git
[submodule "wezterm-conf"]
	path = wezterm-conf
	url = https://github.com/rhysez/wezterm-conf
[submodule "tmux-config"]
	path = tmux-config
	url = https://github.com/rhysez/tmux-config.git
[submodule "kitty-config"]
	path = kitty-config
	url = git@github.com:rhysez/kitty-config.git
[submodule "sway-config"]
	path = sway-config
	url = git@github.com:rhysez/sway-config.git
